#content-main {
  min-height:100%;
}

header {
  position:absolute;
  top: 0px;
  left: 0px;
  width:100%;
}

#sidebar-content {
  min-width:100%;
  margin:0px;
  padding:0px;
}

.sidedar-sm {
  width:100%;
}

.sidedar-sm ul{
  list-style: none;
}
