
#content-main{
  display: flex;
  align-items: stretch;
  flex-flow: row;
  flex-direction: row;
  width:100% !important;
}

#sidebar {
  width: 19%;
  float: left;
  min-height: 100%;
  margin-bottom: -99999px;
}

.sidebar_header {
  font-size:1.2rem !important;
}

.sidebar_font {
  font-size:0.8rem !important;
}

.content {
  width: 80%;
  float: right;
  margin: 0px !important;
  padding:10px;
  height:100%
}

#sidebar .nav .nav {
  opacity:0.8;
  border-top: 1px;
  margin-left:3px;
  padding: 1px;
}

@media only screen and (max-width: 700px){

  #sidebar {
    width:100%;
    min-height:100%;
    float: none;
  }

  .content {
    width:100%;
    float:none;
  }

  #content-main {
    align-content: center;
    flex-direction: column;
  }

  #sidebar .nav {
    text-align: center;
  }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {

  #content-main {
    align-content: center;
    flex-direction: column;
  }

  #sidebar {
    width:10%;
    min-height:100%;
  }

  #sidebar .nav .nav-link {
    text-align:center;
    border: 1px white;
  }

  .content {
    width:90%;
    float:none;
  }

  #profile_img{
    width:32px;
    height:32px;
  }

  .tablet-hide {
    display:none;
  }
}

@media only screen and ( width > 800px and min-width: 1900px) {
  #sidebar{
    width: 15%;
  }

  .sidebar_header {
    font-size:1.5rem !important;
  }

  .sidebar_font {
    font-size: 0.9rem !important;
  }

  .content {
    width:85%;
  }
}

@media only print {
  #sidebar {
    display:none
  }

  .content {
    width:100%
  }
}
