
#content-main{
  min-width:100% !important;
}

#sidebar {
  width: 19%;
  float: left;
  height: 100%;
  bottom: 0px;
}

.sidebar_header {
  font-size:1.2rem !important;
}

.sidebar_font {
  font-size:0.8rem !important;
}

.content {
  width: 80%;
  float: right;
  margin: 0px !important;
  padding:10px;
}

#sidebar .nav .nav {
  opacity:0.8;
  border-top: 1px;
  margin-left:3px;
  padding: 1px;
}

@media only screen and (max-width: 800px) {
  #sidebar {
    display: none;
    width:100%;
  }

  .content {
    width:100%;
    float:none;
  }
}

@media only screen and (min-width: 1900px) {
  #sidebar{
    width: 15%;
  }

  .sidebar_header {
    font-size:1.5rem !important;
  }

  .sidebar_font {
    font-size: 0.9rem !important;
  }

  .content {
    width:85%;
  }
}

@media only print {
  #sidebar {
    display:none
  }

  .content {
    width:100%
  }
}
