$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@import "includes/_breakpoints.scss";

.panel{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#content-wrapper {
  min-height: 100vh;
  position: relative;
  margin-top: 59.5px;
}

#main_content{
  height:100%;
  float:left;
  @include media-breakpoint-up('lg') {
    margin-left:20%;
    main {
      width:100%;
    }
  }
}

#main_content.full_width{
  @include media-breakpoint-up('lg') {
   margin-left:0px;
   width:100%;
  }
}

/*header*/
.panel-header{
  position:fixed;
  width:100%;
  nav {
    width:100%;
  }
  z-index:1000;
}

.header-dropdown {
  width:15rem;
}

.header-dropdown-content {
  width:calc( 80% - 1px );
  float:right;
}

.header-dropdown-icon {
  margin-right:1px;
  width:20% !important;
  float:left;
}

/* Sidebar Css */

#sidebar {

  @include media-breakpoint-up('xs') {
    width:100%;
    height:100vh;
    position:fixed;
    height:100%;
    z-index:1000;
  }

  @include media-breakpoint-up('md') {
    width: 35%;
    display:none;
    height:100vh;
    position:fixed;
    float:right;
    z-index:1000;
  }

  @include media-breakpoint-up('lg') {
    width: 20%;
    display:block;
    height:100vh;
    position:fixed;
    float:right;
    z-index:1000;
  }
}

#sidebar-content {
  min-height:100%;
  min-width:100%;
  margin:0px;
  padding:0px;
}

.sidebar-btn:hover{
  background-color:#fff !important;
  color:#343a40 !important;
}

.sidebar-sm {
  display: none !important;
  ul{
    list-style: none;
  }

  nav {
   .nav-link{
      span {
       float:left;
       text-align:left;
      }
   }
   .nav-link:hover {
     color: #00008B !important;
   }
 }
}

.sidebar-sm[data-sidebar-sm-display="true"]{
  position: relative;
  display:block !important;
  margin: 5px;

  @include media-breakpoint-up(sm) {
    display:none;
  }
}

.sidebar-menu {
  border-top: 1px;
  padding: 6px;
  font-size: 0.8rem;
}

.sidebar-menu[data-menu-open="false"]{
  display:none
}

.sidebar-menu-level-1 {
  background-color:rgba(255,255,255,0.4);
  padding-left:0px;
}

.sidebar-list {
  height: 100%;
  overflow-y: scroll;
  border-radius: .25rem;

  li {

    a.list-link {
      color:inherit;

      .header-dropdown-icon {
        font-size:2.5rem;
        font-style: center;
      }
    }

    a.list-link.text-muted:hover {
      color:inherit !important;
    }
  }

  li:hover {
    background-color:#343a40;
    color:#f8f9fa !important;
    border: 2px solid !important;
    border-color: #343a40 !important;
  }
}

.menu-open .open-indicator {
  text-align: center;
}

.menu-open[data-menu-open=true] .open-indicator .closed {
  display:none;
}

.menu-open[data-menu-open=false] .open-indicator .oppened {
  display:none;
}

.toolboxScroll{
  display:block;
  position:fixed;
  z-index:1000;
  bottom:20px;
  right:20px;

  .gotoTop {
    color:black;
    background-color:white;
    border: 1px solid;
    text-align:center;
    font-size:2rem;
    border-radius: 10%;
    opacity:0.5;
  }
}
